h1{
    color:red;
    margin-bottom: 100px;
    margin-top: 30px;
}

p{
    font-family: Courier New, Courier, monospace;
}
ul{
    font-family: Courier New, Courier, monospace;

    border-style: dashed;
    margin-top:60px; 
}
.button{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;  
}
body{
    background-color:#A9E5BB;
}