
{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}



<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best blogs  website </title>
        {% endif %}
        

<!-- Styles block -->

        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        
    </head>
{% block content %}
 <div class="container">

  <div>

    {{ wtf.quick_form(comment_form) }}
   </div>
    
   <div class="well-lg">
     {%for word in comments%}
     <p>{{word.comment}}</p>
     <button><a href="/comment/delete/">Delete comment</a></button>
     {%endfor%}
     
 </div>
{% endblock%}




