<div class="navbar navbar-inverse fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"><a href="https://www.flaticon.com/authors/freepik" title="Freepik"></a></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> BLOGS SITE </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{url_for('main.index')}}">Home</a></li>
                <li><a href="/">Upload Blog</a></li>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated%}
            <li><a href="/">Profile</a></li>
            <li style="color:white;padding-left:15px;"><a href="/"></a></li>
            <li><a href="/">Sign out</a></li>
            {% else %}
            <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
            {%endif%}
        </ul>
    </div>
</div>